<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/styles.css') }}">
    <script type="text/javascript">
        SERVER_URLS = eval("({{ SERVER_URLS|safe }})".replaceAll("'",'"'))
    </script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="{{ url_for('static', filename='JavaScript/Script.js') }}"></script>
    {% block head %}{% endblock %}
</head>
<body onload="init()">
    {% block body %}{% endblock %}
</body>
</html>